.navigation {
    border: 1px solid #f00;
    // border: 1px solid #f00;
    // background-color: #1c1f2f;

    &__col {
        border: 1px solid #fff;
    }

    &__container-logo {
        padding: 1.4rem 0 1.4rem 2.7rem;
    }

    &__hide {
        display: none;
    }

    &__show {
        display: block;
    }

    &__container-menu {
        padding: 2rem 0 2rem 3.1rem;
    }

    .menu-item a {
        // color: #edeffc;
        color: var(--primary);
    }

    &__container-dark-light-icon {
        padding: 2rem 0;
    }
}
